<div class="container">
<img src="https://cdn-icons-png.flaticon.com/128/2111/2111628.png" alt="">
<div class="btngog"> <img src="https://img.icons8.com/color/1x/google-logo.png" alt=""><p> Login with Google</p> </div>
<div class="btngit"><img  class="im" src="https://img.icons8.com/glyph-neue/1x/github.png" alt=""> <p>Login with Github</p></div>
<div class="btnfb"><img src="https://img.icons8.com/fluency/256/facebook.png" alt=""><p>Login with Facebook</p></div>


<form [formGroup]="myForm" (ngSubmit)="login()">

    <label for="email">Email</label>
    <input type="email" name="" id="" placeholder="Enter Your Email" formControlName="email" >
    <small style="color: red; align-self: top;" *ngIf="!myForm.get('email')?.valid && myForm.get('email')?.touched">please enter a valid email</small>
    <div class="labelss">
    <label for="password"> Password</label>
    <label for="forgotpass" routerLink="/forgotpassword" class="forg">Forgot password ?</label>
</div>
    <input type="text"  placeholder="Enter Your Password" name="" id="" formControlName="password" >
    <small style="color: red; align-self: top;" *ngIf="!myForm.get('password')?.valid && myForm.get('password')?.touched">please enter a password</small>

    <!-- <button routerLink="/">LOGIN</button> -->
    <button routerLink="" >LOGIN</button>
</form>
 <div class="reg">
    <div class="single">
    <p>Don't have an Account ? </p> <p routerLink="/register" class="links">Signup </p>
</div>
<div class="single">
    <p>Are you an employer ? </p> <p routerLink="/registertalent" class="links">sign up on Talent </p>
</div>
 </div>
 
</div>
