.container{
    /* box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2); */
    width: 30%;
    margin: auto;
    padding: 5px;
    margin-top: 0.5rem;
    display: flex;
    gap: 0.2rem;
flex-direction: column;
font-size: small;

}
.forg{ 
    color: #0F97FF;
}
.labelss{
    display: flex;
    justify-content: space-between;
}
input.ng-invalid.ng-touched{
    border: red 1px solid;
}
