<div class="divmain">
    <div class="menu">
        <a href="">Home</a>
        <a href="">Users</a>
        <a href="">Questions</a>
    </div>


    <div class="majodiv">
        <div class="div1">
        <p>Question: {{question}}</p>
<div class="combo">

    <div class="voter">
    <img src="https://img.icons8.com/emoji/256/red-triangle-pointed-up-emoji.png" alt="">
    {{votes}}
    <img src="https://img.icons8.com/emoji/256/red-triangle-pointed-down-emoji.png" alt="">
</div>
     <div>  
         <p>Description{{description}}</p>
<div class="desc"></div>   
        <p>What the user has tried</p>
        <div class="desc"></div>     </div>
    </div>
</div>

<div class="combo">

    <div class="voter">
    <img src="https://img.icons8.com/emoji/256/red-triangle-pointed-up-emoji.png" alt="">
    {{votes}}
 
    <img src="https://img.icons8.com/emoji/256/red-triangle-pointed-down-emoji.png" alt="">

</div>

     <div>  
         <p>Comments</p>
        <textarea name="" id="" cols="30" rows="10" placeholder="Enter the Questions description">{{comments}}</textarea>
   
        <p>solution</p>
        <textarea name="" id="" cols="30" rows="10" >{{solution}}</textarea>
    </div>
    </div>

    <p>Your comments for your answer</p>
    <textarea name="" id="" cols="30" rows="10" placeholder="Enter your comments"></textarea>

    <p>Enter your answer for the question</p>
    <textarea name="" id="" cols="30" rows="10" placeholder="Enter your answer"></textarea>
    <button>Post Answer</button>
        
    </div>
  
   
</div>