<div class="main">
    <div class="menu">
        <a href="">Home</a>
        <a href="">Users</a>
        <a href="">Questions</a>
    </div>
    <div class="majordiv">
    <div class="divquestion">
    <div class="matrix">
    <div class="votes">
         <p>{{votes}} Votes</p>
         <p>{{answers}} Answers</p>
         <p>{{views}} Views</p>
    </div>
     <div class="quiz">
    <p style="color: #0F97FF; "> {{question}}</p>

    <div class="descriptions">
        {{description}}
    </div>
</div>
</div>

<div class="tagstime">
<div style="background-color: rgb(154, 146, 146); padding: 0.5rem; border-radius: 0.5rem;">{{tags}}</div>
    {{icon}}
    {{user}}
    {{timestamp}}
</div>

</div>

<div class="comm">
    <label for="comments">Comments</label>
    <textarea name="" id="" cols="30" rows="10" placeholder="Any comments for the question"></textarea>
</div>
<div class="answer">
    <label for="answer">Answer</label>
    <textarea name="answer" id="" cols="30" rows="10" placeholder="Post the answer"></textarea>
</div>
<div class="btndiv">
    <button class="update">Update question</button>
        <button class="update">Delete question</button>

</div>
<div class="majordiv"></div>
</div>
