.homecon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
   
}

  
.right-column{
    width: 15%;
    padding-left: 2rem ;

    position: sticky;
    margin-bottom: 1rem;
  
}
.menuhome{
    position: sticky;
    top: 1rem;
}
button{
    width: fit-content;
}
.center{
    width: 50%;
    background-color: #FBF3D5;
    padding: 4rem;
}
.left-column{
    padding-right: 3rem;
    padding-right: 2rem;
    width: 28%;
    gap: 1rem;
    background-color: #faf6f6;
    
}
.blog{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.div1{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.div2{
    display: flex;
    gap: 10px;
}
.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.buttonsdiv{
    display: flex;
    justify-content: space-evenly;
    align-content: flex-end;
}
.divquestion{
display: flex;
flex-direction: column;  
}
.singleblog{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.featured{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.matrix{
    display: flex;
    gap: 1rem;   
    flex-direction: row;

}
.votes{
    
    margin-top: 1rem;
    padding-left: 0.2rem;
}
.votes p{
    font-weight: bold;
    font-size: small;
    width: 5rem;
  
}

.tagstime{
    justify-content: space-between;
    display: flex;
    margin-top: 1rem;
    align-items: center;
}
.pages{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.f{
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
}
.l{
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
}
.quiz{
    align-items: center;
    justify-items: center;
}

@media only screen and (max-width: 600px) {
    .homecon {
    
      font-size: smaller;

    }
    button{
        flex-shrink: 2;
        font-size: smaller;
    }
    div{
        flex-shrink: 2rem;
    }
  }