<div class="profilecontainer">
    <div class="divone">
    <div class="dp">
        <img class="dp" src="https://img.icons8.com/ios-filled/1x/user-male-circle.png" alt="">
    </div>

    <div class="meta">
        <p>Name: {{name }}</p>
        <p>Occupation: {{occupation}}</p>
        <p>Email: {{email}}</p>
    </div>

    <div class="about">
      <label for="about">About :{{name }}</label>
      <p>{{about}}</p>
    </div>
</div>

<div class="divtwo">

       
        <div class="card">
            <p>You  have answered <a href=""> &nbsp;{{answeres}} &nbsp;</a>  questions</p>

        </div>

        <div class="card">
            <p>You  have <a href=""> &nbsp;{{badges}} &nbsp;</a> badges</p>

        </div>

        <div class="card">
            <p>You  have asked <a href=""> &nbsp;{{questions}}&nbsp;</a> questions</p>

        </div>

        <div class="card">
            <p>You  have done &nbsp;<a href="">{{contributions}}</a>&nbsp; contibutions</p>

        </div>
    </div>
</div>


