<div class="admin">
    <div class="right">
        <p>Home</p>
        <p>Users</p>
        <p>Questions</p>
<div class="table">
        <table><tr>
            <th>User</th>
            <th>Questions</th>
            <th>Actions</th>
        </tr>

        <tr>
            <td>002</td>
            <td>Question 2</td>
            <td>
                <button>Delete User</button>
                <button>Delete Question</button>
            </td>
        </tr>

        <tr>
            <td>004</td>
            <td>Question 3</td>
            <td>
                <button>Delete User </button>
                <button>Delete Question</button>

            </td>
        </tr>

        <tr>
            <td>007</td>
            <td>Question 1</td>
            <td>
                <button>Delete User</button>
                <button>Delete Question</button>
            </td>
        </tr>
        </table>
    </div>

    </div>
    <div class="center">
        <div class="topdiv">
            <div class="card">

                <img src="https://img.icons8.com/nolan/1x/combo-chart.png" alt="">
                <p>Total User (100)</p>
            </div>

            <div class="card">

                <img src="https://img.icons8.com/nolan/1x/combo-chart.png" alt="">
                <p>Total Answered Questions (0)</p>
            </div>

            <div class="card">

                <img src="https://img.icons8.com/nolan/1x/combo-chart.png" alt="">
                <p>Total Unaswered Question (0)</p>
            </div>
        </div>
<div class="botdiv">
    <div class="card">

        <img src="https://img.icons8.com/nolan/1x/combo-chart.png" alt="">
        <p>Most Contributing User(100)</p>
    </div>
    <div class="card">

        <img src="https://img.icons8.com/nolan/1x/combo-chart.png" alt="">
        <p>Frequent asked Topics (12)</p>
    </div>
</div>

        </div>
  
</div>
