<header>
 
    <div class="container ">
      <img src="https://img.icons8.com/ios-glyphs/1x/menu-rounded.png" alt="" routerLink="/">
<img class="logo" src="https://www.logo.wine/a/logo/Stack_Overflow/Stack_Overflow-Logo.wine.svg" alt="" routerLink="/" >      
<p routerLink="about" >About</p>
     <p routerLink="/products" >Products</p>
      <p routerLink="/forteams">For Teams</p>
      <div class="searchbar">
        <img class="icon" src="https://img.icons8.com/ios-glyphs/1x/search.png" alt="">
        <input class="searchbarinput" type="text" placeholder="Search ...">
      </div>
      <button (click)="tooggle" routerLink="/login" class="login" *ngIf="!showbutton">Login</button>
      <!-- <button  (click)="tooggle" *ngIf="showbutton" routerLink="" class="sign-up" >Profile</button> -->

      <button routerLink="/register" class="sign-up" >Sign Up</button>
    </div>
    <!-- <i class="fa-brands fa-github"></i> -->
</header>