<div class="footercontainer">
    <div class="divone">
<img src="https://cdn-icons-png.flaticon.com/512/2111/2111628.png" alt="">
    </div>
    <div class="divtwo">
        <h6>STACK OVERFLOW</h6>
            <a href="">Questions</a>
            <a href="">Help</a>

    </div>

    <div class="divthree">
<h6>PRODUCTS</h6>
<a href="">Teams</a>
<a href="">Advertising</a>
<a href="">Collectives</a>
<a href="">Talent</a>
    </div>

    <div class="divfour">
<h6>Company</h6>
<a href="">About</a>
<a href="">Press</a>
<a href="">Work Here</a>
<a href="">Legal</a>
<a href="">Privacy Policy</a>
<a href="">Terms of Service </a>
<a href="">Contact Us </a>
<a href="">Cookies Settings</a>
<a href="">Cookie Policy</a>
</div>
     
    <div class="divfive">
<h6>STACK EXCHANGE NETWORK</h6>
<a href="">Technology </a>
<a href="">Culture & recreation</a>
<a href="">Life & arts</a>
<a href="">Science</a>
<a href="">Professional</a>
<a href="">Business</a>
<a href="">API</a>
<a href="">Data</a>

    </div>

    <div class="divsix">
<div class="top">
    <a href="">Blog</a>
    <a href="">Facebook</a>
    <a href="">Twitter</a>
    <a href="">LinkedIn</a>
    <a href="">Instagram</a>
</div>

    <div class="bottom">
        <p><img style="height: 1.5rem;" src="https://cdn-icons-png.flaticon.com/512/732/732248.png" alt=""> ©2023 Stack Exchange Inc;user</p>
        <p>contributors silenced under CC BY-SA.rev 2023.3.3.43278</p>

    </div>

    </div>
</div>
