.pgn{
background-image: url('https://img.freepik.com/free-vector/business-brochure-template_23-2147799301.jpg?w=740&t=st=1678697222~exp=1678697822~hmac=4486e8016bb3c0cc7ead5db7031afadadd34af753500b1b121446af92cdcbadd');
background-size: cover;
background-repeat: no-repeat;
height: 97%;
width: 100%;
}