.container{
    /* box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2); */
    width: 40%;
    padding: 10px;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.storyinreg{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    
}
.explanationinreg{
    margin-top: 7rem;
    padding: 10px;

}
.maindivregister{
display: flex;

justify-content: space-evenly;
}
