<div class="maindivregister" >
    
<div class="explanationinreg">
<p>Join the Stack Overflow Community  </p>
<div class="storyinreg">
<img src="https://img.icons8.com/external-vitaliy-gorbachev-blue-vitaly-gorbachev/1x/external-question-support-vitaliy-gorbachev-blue-vitaly-gorbachev.png" alt="">
<p>Get unstuck ask a question</p>
</div>
    <div class="storyinreg">
        <img src="https://img.icons8.com/ios-filled/256/unlock-private.png" alt="">
        <p>Unlock new privilleges like voting and commenting</p>
        </div>

        <div class="storyinreg">
            <img src="https://img.icons8.com/fluency/1x/tags.png" alt="">
            <p>Save your favourite tags ,filter and jobs </p>
            </div>

            <div class="storyinreg">
                <img src="https://img.icons8.com/external-flat-amoghdesign/256/external-champion-olympic-games-flat-amoghdesign.png" alt="">
                <p>Earn reputation and badges </p>
                </div>
                <p>Collaborate and share knowledge with a private  group for FREE.</p>
                
</div>

<div class="container">
    <!-- <img src="https://cdn-icons-png.flaticon.com/128/2111/2111628.png" alt=""> -->
    <div class="btngog"> <img src="https://img.icons8.com/color/1x/google-logo.png" alt=""><p> Sign up with Google</p> </div>
    <div class="btngit"><img  class="im" src="https://img.icons8.com/glyph-neue/1x/github.png" alt=""> <p>Sign up with Github</p></div>
    <div class="btnfb"><img src="https://img.icons8.com/fluency/256/facebook.png" alt=""><p>Sign up with Facebook</p></div>
    
    
    <form action="">
        <label for="name" >Display name </label>
        <input type="text" name="" id="" placeholder="Enter Your Name " required>
       
        <label for="email">Email</label>
        <input type="email" name="" id="" placeholder="Enter Your Email" required>
        <label for="password"> Password</label>
        <input type="text"  placeholder="Enter Your Password" name="" id="" required>
    
        <button routerLink="/login">Sign up</button>
    </form>
     <div class="reg">
        <div class="single">
        <p>By clicking "Sign up", your agree to our </p>  &nbsp; <p routerLink="/register" class="links">terms of service  </p>
        &nbsp; 
        <p>,</p> 
        &nbsp; 
        <p class="links"> privacy  policy</p>
        &nbsp; 
        <p>and </p>
        &nbsp; 
        <p class="links">cookie policy</p>

    </div>
    
    
    
     </div>
    
    
    
    </div>

</div>