
<div class="forgot">

    <form (ngSubmit)="onSubmit(myform)"  #myform="ngForm">
    <p>Forgot your accounts password ? Enter your email address and we'll send you a recovery link</p>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" placeholder="Enter your email" ngModel required email #email="ngModel">

    <small style="color: red;" *ngIf=" email.invalid && email.touched " >Enter a valid email</small>
    </form>
    <button type="submit" [disabled]="!myform.valid" routerLink="/" class="recovery">Send Recovery email</button>
</div>