<form [formGroup]="questionform" (ngSubmit)="postquestion()" >
<div class="postquestion">
<p style="padding: 10px;">Ask a public question</p>
<div class="steps">
    <p>Writing a good question</p>
    <p>You're ready to ask a proggramming related question and this form will help guide you througth the process.</p>
    <p>Looking to ask a no-progmong question? See the topics here to find a relevant site </p>
&nbsp;
<p style="font-weight: bold;">Steps</p>
<ul>
    <li>Summurize your problem in one-line title.</li>
    <li>Describe your problem in more detail.</li>
    <li>Describe what you tried and what you expected to happen.</li>
    <li>Add “tags” which help surface your question to members of the community.</li>
    <li>Review your question and post it to the site.</li>
</ul>
</div>

<!-- te two divs in the question -->
<div class="twodiv">

<div class="titlediv">
    <label for="tittle" style="font-weight: bold;">Title</label>
    <p>Be specific and imagine you're asking a question to another person</p>
   <textarea style="height: 1rem;" name="" id="" cols="5" rows="10" formControlName="title"></textarea>
</div>

<div class="otherdiv">

    <p>Writing a good title </p>
    <hr>
    <div class="ex">
        <img src="https://img.icons8.com/ios-filled/1x/edit.png" alt="">
<p>Your title should summarize the problem.
    You might find that you have a better idea of your title after writing out the rest of the question.</p>
    </div>
</div>
</div>


<div class="deta">
<label for="details" style="font-weight: bold;">What are the deatils of your problem</label>
<p>introduce the problem and expand on whatyou put in the title.(minimum characters is 20 )</p>
<textarea name="" id="" cols="0" rows="10" placeholder=" explain the Problem details" formControlName="content"></textarea>
</div>
<input style="width: 20%;" type="text" class="tags" placeholder="Enter the tags " formControlName="tags">

<button type="submit">Post Question</button>
</div>
</form>